@model AddArticleCategoryBindingModel
@{
    ViewData["Title"] = "Add Article Category";
}

<h2>Add Category For Articles</h2>
<br />

<form asp-area="Administrator" asp-controller="Articles" asp-action="AddArticleCategory" method="post">
    @Html.FormGroupFor(model => model.CategoryName)

    <div class="form-group">
        <div class="col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-area="Administrator" asp-controller="Articles" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
