<div class="container body-content">
    <div class="row">
        <p class="col-md-12">
            <article>
                <header>
                </header>

                <p>
                    {{user.fullName}}<br>
                    {{user.email}}
                </p>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>