<div class="text-center">
    <h2>{{{title}}}</h2>
</div>
<br />
<div class="row">
    <div class="col-6 text-center">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/{{{youTubeId}}}"
                frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
    </div>
    <div class="col-6 text-center">
        <h1 class="text-info tube-author">{{{author}}}</h1>
        <h2 class="text-info tube-views">{{{views}}}</h2>
        <h5>{{{description}}}</h5>
    </div>
</div>