
@{
    ViewData["Title"] = "Admins Home";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}


<div class="container container-fluid">
    <h2>Hello, dear Administrator!</h2>
    <div>
        <a asp-area="Administrator" asp-controller="Users" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Users</a>
    </div>
    <br />
    <div>
        <a asp-area="Administrator" asp-controller="Articles" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Articles and Article Categories</a>
    </div>
    <br />
    <div>
        <a asp-area="Administrator" asp-controller="Books" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Books</a>
    </div>
    <br />
    <div>
        <a asp-area="Administrator" asp-controller="Brands" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Brands</a>
    </div>
    <br />
    <div>
        <a asp-area="Administrator" asp-controller="Memes" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Memes</a>
    </div>
    <br />
    <div>
        <a asp-area="Administrator" asp-controller="Jokes" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Jokes</a>
    </div>
    <br />
    <div>
        <a asp-area="Administrator" asp-controller="Games" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Games</a>
    </div>
    <br />
    <div>
        <a asp-area="Administrator" asp-controller="Artists" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Artists</a>
    </div>
    <br />
    <div>
        <a asp-area="Administrator" asp-controller="Instruments" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Instruments</a>
    </div>
    <br />
    <div>
        <a asp-area="Administrator" asp-controller="Songs" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Songs</a>
    </div>
    <br />
    <div>
        <a asp-area="Administrator" asp-controller="Products" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Products</a>
    </div>
    <br />
    <div>
        <a asp-area="Administrator" asp-controller="Reviews" asp-action="Index" class="btn btn-danger btn-lg btn-block">Manage Reviews</a>
    </div>
</div>
