@model IEnumerable<ArtistConciseViewModel>
@{
    ViewData["Title"] = "Artists list";
}

<h2>Artists:</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Artist Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>


