@model MemeDetailsViewModel
@{
    ViewData["Title"] = "Delete Meme";
}

<h2>Delete Meme - @Model.Title</h2>

<div class="container row">
    <div class="col-12">
        <br />
        <form method="post">
            <div class="form-group row">
                <label class="form-control-label">Meme Title</label>
                <input class="form-control" name="Title" placeholder="Enter Meme Title" value="@Model.Title" />
            </div>

            <div class="form-group row">
                <label class="form-control-label">Photo URL</label>
                <input type="url" class="form-control" name="PhotoURL" placeholder="Enter URL to Image" value="@Model.PhotoURL" />
            </div>

            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-area="Administrator" asp-controller="Memes" asp-action="Index" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>