@model IEnumerable<BrandConciseViewModel>
@{
    ViewData["Title"] = "Brands list";
}

<h2>Brands:</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Brand Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>


