@model IEnumerable<ProductConciseViewModel>
@{
    ViewData["Title"] = "Products list";
}

<h2>Products:</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Product Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>


