@model AddSongGenreBindingModel
@{
    ViewData["Title"] = "Add Song Genre";
}

<h2>Add Genre For Songs</h2>
<br />

<form asp-area="Administrator" asp-controller="Songs" asp-action="AddSongGenre" method="post">
    @Html.FormGroupFor(model => model.GenreName)

    <div class="form-group">
        <div class="col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-area="Administrator" asp-controller="Songs" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
