@model AddJokeBindingModel
@{
    ViewData[CommonConstants.TitleSuffix] = "Add Joke";
}

<h2>Create Joke</h2>
<br />
<form asp-area="Administrator" asp-controller="Jokes" asp-action="AddJoke" method="post">
    @Html.FormGroupFor(model => model.Title)
    @Html.FormGroupFor(model => model.Content)
    @Html.FormGroupFor(model => model.PhotoURL)

    <div class="form-group">
        <div class="col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-area="Administrator" asp-controller="Jokes" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
