    <div class="container-fluid">
        <hr class="my-5" />
        <div class="jumbotron" style="display : {{{anonymousDisplay}}}">
            <h1>Welcome to Fluffy Duffy Munchkin Cats</h1>
            <p>The simplest, cutest, most reliable website for trading cats.</p>
            <hr class="my-2">
            <p><a href="/users/login">Login</a> to trade or <a href="/users/register">Register</a> if you don't have an account.</p>
        </div>
        <div class="jumbotron" style="display : {{{userDisplay}}}">
            <h1>{{{welcomeUser}}}</h1>
            <hr class="my-2">
            <p>Fluffy Duffy Munchkin Cats wishes you a cute and awesome experience.</p>
        </div>
        <hr class="my-5" />
    </div>