<nav class="navbar">
<section class="navbar-anonymous">
    <ul>
        <li><a href="#/register"><i class="fas fa-user-plus"></i> Register</a></li>
        <li><a href="#/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
    </ul>
</section>
</nav>