@model AddGameTypeBindingModel
@{
    ViewData["Title"] = "Add Game Type";
}

<h2>Add Type For Games</h2>
<br />

<form asp-area="Administrator" asp-controller="Games" asp-action="AddGameType" method="post">
    @Html.FormGroupFor(model => model.GameTypeName)

    <div class="form-group">
        <div class="col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-area="Administrator" asp-controller="Games" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
