@model IEnumerable<GameConciseViewModel>
    @{
        ViewData["Title"] = "Games list";
    }


    <br />
    <div class="form-group">
        <div class="col-sm-push-2">
            <a asp-area="Administrator" asp-controller="Games" asp-action="AddGame" class="btn btn-success">Add new Game</a>
            <a asp-area="Administrator" asp-controller="Games" asp-action="AddGameType" class="btn btn-success">Add new Game Type</a>
        </div>
    </div>
    <h2>Games:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#Id</th>
                <th>Game Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayForModel()
        </tbody>
    </table>


