@model IEnumerable<SongConciseViewModel>
@{
    ViewData["Title"] = "Songs list";
}

<h2>Songs:</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Song Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>


