@model ArticleDetailsViewModel

<div class="container row">
    <div class="col-12">
        <br />
        <form method="post">
            <div class="form-group row">
                <label class="form-control-label">Title</label>
                <input class="form-control" name="Title" placeholder="Enter Article Title" value="@Model.Title" disabled />
            </div>

            <div class="form-group row">
                <label class="form-control-label">Content</label>
                <textarea class="form-control" name="Content" placeholder="Article Content" minlength="20">@Model.Content</textarea>
            </div>

            <div class="form-group row">
                <label class="form-control-label">Photo URL</label>
                <input type="url" class="form-control" name="PhotoURL" placeholder="Enter URL to Image" value="@Model.PhotoURL" />
            </div>
            <div class="form-group row">
                <label class="form-control-label">Video URL</label>
                <input type="url" class="form-control" name="HighLightVideoURL" placeholder="Enter URL to Video" value="@Model.HighLightVideoURL" />
            </div>

            <input type="submit" value="Edit" class="btn btn-warning" />
            <a asp-area="Administrator" asp-controller="Articles" asp-action="Index" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>