@model ArticleConciseViewModel

<tr>
    <td>@Model.Id</td>
    <td><a asp-page="/Articles/Details" asp-route-id="@Model.Id">@Model.Title</a></td>
    <td>
        <a asp-area="" asp-page="/Articles/Details" asp-route-id="@Model.Id"
           class="btn btn-default">Details</a>
    </td>
</tr>
