@model IEnumerable<GameConciseViewModel>
    @{
        ViewData["Title"] = "Games list";
    }

    <h2>Games:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#Id</th>
                <th>Game Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayForModel()
        </tbody>
    </table>


