<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FDMC</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="js/bootstrap.min.js">
</head>
<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <a class="navbar-brand" href="/home/index">FDMC</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end row" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active col-md-4">
                            <a class="nav-link" href="/home/index">Home</a>
                        </li>
                        <li class="nav-item active col-md-4" style="display:{{{anonymousDisplay}}}">
                            <a class="nav-link" href="/users/login">Login</a>
                        </li>
                        <li class="nav-item active col-md-4" style="display:{{{anonymousDisplay}}}">
                            <a class="nav-link" href="/users/register">Register</a>
                        </li>
                        <li class="nav-item active col-md-4" style="display:{{{userDisplay}}}">
                            <a class="nav-link" href="/users/allkittens">All Kittens</a>
                        </li>
                        <li class="nav-item active col-md-4" style="display:{{{userDisplay}}}">
                            <a class="nav-link" href="/users/addkitten">Add Kitten</a>
                        </li>
                        <li class="nav-item active col-md-4" style="display:{{{userDisplay}}}">
                            <a class="nav-link" href="/users/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

            {{{content}}}

            <footer class="footer">
                <div class="container-fluid">
                    <div class="text-muted container-fluid text-center">
                        &copy; CopyRight Sanity Web Design Studios 2018. All rights
                        reserved.
                    </div>
                </div>
            </footer>
</body>
</html>