<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FDMC</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="js/bootstrap.min.js">
</head>
<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <a class="navbar-brand" href="/home/index">FDMC</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end row" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        {{{navbar}}}
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="row" style="display:{{{show-error}}}">
        <div class="col-6 ml-auto mr-auto text-center">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{{errorMessage}}}
            </div>
        </div>
    </div>

            {{{content}}}

            <footer class="footer">
                <div class="container-fluid">
                    <div class="text-muted container-fluid text-center">
                        &copy; CopyRight Sanity Web Design Studios 2018. All rights
                        reserved.
                    </div>
                </div>
            </footer>
</body>
</html>